includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
  level: max
  paths:
    - backend/src
    - backend/tests
  excludePaths:
    analyse:
      - backend/tests/_support/_generated/*
      
  treatPhpDocTypesAsCertain: true

  ignoreErrors:
    -
      message: '#^Dynamic call to static method PHPUnit.*\(\)\.$#'
      path: backend/tests/*